<!DOCTYPE html>
<html>

<head>
    <title>Đăng ký tài khoản</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="app_loading" class="text-center" style="padding:100px 10px;">
        <img src="/images/icons/loading.gif" alt="Đang tải..." width="50px" />
        <div class="loading_text">Đang tải...</div>
    </div>
    <div class="container">
        <div class="login-container d-flex" id="login">
            <div class="login-content-container">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="mb-4 title">
                        <span class="title-feature">QUÊN MẬT KHẨU TÀI KHOẢN</span>
                    </h1>

                </div>
                <div class="row login-form-container">
                    <div class="col-12 login-form-1" style="background-color: #fff">
                        <form class="needs-validation" id="registration-form" (ngSubmit)="onSubmit()"
                            #registrationForm="ngForm" novalidate>
                            <div class="row g-2">
                                <div class="col">
                                    <div class="form-group mb-2">
                                        <label for="email" class="form-label">Nhập Email để nhận token<span
                                                class="text-danger">*</span></label>
                                        <input type="email" class="form-control" name="dob" placeholder="Nhập Email"
                                            [(ngModel)]="form.email" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <button type="submit" id="submit-register" class="btnSubmit btn btn-primary">
                                    Gửi email
                                </button>
                            </div>
                            <div class="form-group mb-2 text-center">
                                <a type="button" class="btn btn-link" href="/dang-nhap">
                                    Bạn đã có tài khoản, Đăng nhập?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal nhập code -->
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordModalLabel">Nhập mã khôi phục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #resetForm="ngForm" (ngSubmit)="onSubmitCode()">
                        <div class="mb-3">
                            <label for="resetCode" class="form-label">Mã khôi phục</label>
                            <input type="text" id="resetCode" class="form-control" [(ngModel)]="resetCode"
                                name="resetCode" required />
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Mật khẩu mới</label>
                            <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword"
                                name="newPassword" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>