 <!-- Footer Start -->
 <footer>
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6 block two-line">
                    <h4><a href="#"></a>Du lịch trong nước</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Hà Nội</a></li>
                        <li class="menu-item"><a href="#">Hải Phòng</a></li>
                        <li class="menu-item"><a href="#">Hạ Long</a></li>
                        <li class="menu-item"><a href="#">Huế</a></li>
                        <li class="menu-item"><a href="#">Quảng Bình</a></li>
                        <li class="menu-item"><a href="#">Đà Nẵng</a></li>
                        <li class="menu-item"><a href="#">Quảng Nam</a></li>
                        <li class="menu-item"><a href="#">Nha Trang</a></li>
                    </ul>
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Đà Lạt</a></li>
                        <li class="menu-item"><a href="#">Phan Thiết</a></li>
                        <li class="menu-item"><a href="#">Bà Rịa - Vũng Tàu</a></li>
                        <li class="menu-item"><a href="#">Phú Quốc</a></li>
                        <li class="menu-item"><a href="#">Cần Thơ</a></li>
                        <li class="menu-item"><a href="#">Bắc Kạn</a></li>
                        <li class="menu-item"><a href="#">Hà Giang</a></li>
                        <li class="menu-item"><a href="#">Côn Đảo</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 block two-line">
                    <h4><a href=""></a>Du lịch nước ngoài</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Trung Quốc</a></li>
                        <li class="menu-item"><a href="#">Thái Lan</a></li>
                        <li class="menu-item"><a href="#">Malaysia</a></li>
                        <li class="menu-item"><a href="#">Singapore</a></li>
                        <li class="menu-item"><a href="#">Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Úc</a></li>
                        <li class="menu-item"><a href="#">Mỹ - Hoa Kỳ</a></li>
                        <li class="menu-item"><a href="#">Nhật Bản</a></li>
                    </ul>
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Ấn Độ</a></li>
                        <li class="menu-item"><a href="#">Philippines</a></li>
                        <li class="menu-item"><a href="#">Maldives</a></li>
                        <li class="menu-item"><a href="#">Na Uy</a></li>
                        <li class="menu-item"><a href="#">Tây Ban Nha</a></li>
                        <li class="menu-item"><a href="#">Hà Lan</a></li>
                        <li class="menu-item"><a href="#">Đức </a></li>
                        <li class="menu-item"><a href="#">Anh</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 block">
                    <h4>Dòng tour</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="">Cao cấp</a></li>
                        <li class="menu-item"><a href="">Tiêu chuẩn</a></li>
                        <li class="menu-item"><a href="">Tiết kiệm</a></li>
                        <li class="menu-item"><a href="">Giá tốt</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6 block">
                    <h4>Ứng dụng di động</h4>
                    <div class="ft-app">
                        <a href="" rel="nofollow noreferrer" target="_blank">
                            <img src="assets/image/ggp.png" alt="image">
                        </a>
                        <a href="" rel="nofollow noreferrer" target="_blank">
                            <img src="assets/image/aps.png" alt="image">
                        </a>
                    </div>
                    <div class="mb-app">
                        <div class="android">
                            <p>Android</p>
                            <a href="" rel="nofollow noreferrer" target="_blank">
                                <img src="assets/image/image42.png" alt="image">
                            </a>
                        </div>
                        <div class="ios">
                            <p>iOS</p>
                            <a href="" rel="nofollow noreferrer" target="_blank">
                                <img src="assets/image/image43.png" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 block contact-block">
                    <h4>Liên hệ</h4>
                    <div class="contact-info">
                        175 Tây Sơn, Phường Trung Liệt, Quận Đống Đa, TP. Hà Nội
                        <br> (+84 36) 949 1473<br> (+84 39) 216 1703<br> langthangtravel&#64;gmail.com
                    </div>
                    <h4>Mạng xã hội</h4>
                    <ul class="socials">
                        <li class="social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social">
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="social">
                            <a href=""><i class="fab fa-viber"></i></a>
                        </li>
                        <li class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social">
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                    <div class="call-action">
                        <a href="tel:0369491473"><i class="fal fa-phone-alt"></i>036 949 1473</a>
                    </div>
                    <p>Từ 8:00 - 22:00 hàng ngày</p>
                </div>
                <div class="col-md-3 col-6 block">
                    <h4>Thông tin</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="">Tạp chí du lịch</a></li>
                        <li class="menu-item"><a href="">Cẩm nang du lịch</a></li>
                        <li class="menu-item"><a href="">Tin tức</a></li>
                        <!-- <li class="menu-item"><a href="">Sitemap</a></li> -->
                        <li class="menu-item"><a href="">FAQs</a></li>
                        <li class="menu-item"><a href="">Chính sách riêng tư</a></li>
                        <li class="menu-item"><a href="">Thỏa thuận sử dụng</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-12 block">
                    <h4>Newsletter</h4>
                    <div class="newsletter form">
                        <!-- <form>
                            <input name="" type="hidden" value="">
                            <input type="text" name="EmailRegister" placeholder="Email của Quý khách"
                                id="EmailRegisterFooter" required="required">
                            <input type="submit" name="submit" class="sm" value="">
                            <i class="fal fa-envelope-open"></i>
                        </form> -->
                    </div>
                    <h4>Tìm kiếm thông tin</h4>
                    <div class="search form">
                        <!-- <form>
                            <input name="" type="hidden" value="">
                            <input type="text" name="search" placeholder="Tour du lịch, điểm đến..">
                            <input type="submit" name="submit" class="sm" value="">
                            <i class="fal fa-search"></i>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="copy-right">
                        <p>
                            Bản quyền của Nhóm 1 ® 2021. Bảo lưu mọi quyền.<br>
                            Ghi rõ nguồn "<a href="#">www.Nhom1.com.vn</a>" ® khi sử dụng lại thông tin từ website
                            này.<br>
                            Số giấy phép kinh doanh lữ hành Quốc tế: 79-234/2014/TCDL-GP LHQT
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<div class="backToTop">
    <i class="fad fa-angle-double-up"></i>
</div>
<!-- Footer End -->