<div class="container">
    <div class="row">
        <!-- <div class="yeuthich">
            <h3 class="content-mb"><b>Điểm đến yêu thích</b></h3> <br>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/2019-NOI-DIA/MIEN-TAY/bac-lieu/THAC.jpg"
                                style="height: 100%" class="card-img-top img-fluid" alt="Tây Nguyên">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title "><a href="#"><b>Tây Nguyên</b></a></h5>
                            <p class="card-text">Đã có 160,666 lượt khách</p>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/2019-NOI-DIA/MIEN-TAY/dong-thap/du-lich-dong-thap-tham-quan-vuon-quyt-du-lich-viet.jpg"
                                style="height: 100%" class="card-img-top img-fluid" alt="Đồng Tháp">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title"><a href="#"><b>Đồng Tháp</b></a></h5>
                            <p class="card-text">Đã có 120,000 lượt khách</p>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Da-Lat/du-lich-da-lat-kham-pha-que-garden-gia-tot-du-lich-viet.jpg"
                                style="height: 100%" class="card-img-top img-fluid" alt="Đà Lạt">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title"><a href="#"><b>Đà Lạt</b></a></h5>
                            <p class="card-text">Đã có 180,956 lượt khách</p>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Cao-Bang/du-lich-he-cao-bang-du-lich-viet.jpg"
                                style="height: 100%" class="card-img-top img-fluid" alt="Hà Giang">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title"><a href="#"><b>Hà Giang</b></a></h5>
                            <p class="card-text">Đã có 200,120 lượt khách</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-4 g-4" id="a2">
                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Dao-Binh-Ba/du-lich-he-tua-dao-binh-ba-du-lich-viet-2021.jpg"
                                class="card-img-top img-fluid" alt="Cam Ranh" style="height: 100%">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title destination-item__title"><a href="#"><b>Cam Ranh</b></a></h5>
                            <p class="card-text">Đã có 100,120 lượt khách</p>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Phu-Quoc/combo-du-lich-phu-quoc-novotel-du-lich-viet.jpg"
                                class="card-img-top img-fluid" alt="Phú Quốc" style="height: 100%">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title"> <a href="#"><b>Phú Quốc</b></a></h5>
                            <p class="card-text">Đã có 180,100 lượt khách</p>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Da-Nang/du-lich-he-du-lich-da-nang-gia-tot-du-lich-viet.jpg"
                                class="card-img-top img-fluid" alt="Đà Nẵng" style="height: 100%">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title"> <a href="#"><b>Đà Nẵng</b></a></h5>
                            <p class="card-text">Đã có 188,800 lượt khách</p>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 12px;">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Con-Dao/du-lich-he-con-dao-gia-tot-du-lich-viet-2021.jpg"
                                class="card-img-top img-fluid" alt="Côn Đảo" style="height: 100%">
                        </a>
                        <div style="padding-top: 12px;" class="card-body card-mg">
                            <h5 class="card-title"><a href="#"><b>Côn Đảo</b></a></h5>
                            <p class="card-text">Đã có 160,800 lượt khách</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="ykien mt-sm">
            <div class="header-mb">
                <h3 class=""><b>Ý kiến của khách hàng</b></h3>
                <p>Phản hồi của khách hàng sau khi đi tour</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4  d-none d-lg-flex" style="position: relative;">
                <div *ngFor="let evaluate of evaluates">
                    <div style="padding-right: 8px;" class="col wow fadeInLeft">
                        <div class="card h-100" id="card">
                            <a href="#">
                                <img src="https://dulichviet.com.vn/images/bandidau/NOI-DIA/Con-Dao/du-lich-he-con-dao-gia-tot-du-lich-viet-2021.jpg"
                                    id="img" class="card-img-top img-fluid" alt="Cam Ranh">
                            </a>
                            <div class="card-body" id="card-body" style="padding-left: 12px; margin-bottom: 20px;">
                                <h6 class="card-title no-hover">{{evaluate.title}}</h6>
                                <p class="card-text">{{evaluate.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="ykien mt-sm">
            <div class="header-mb">
                <h3 class=""><b>Một trong những Tour được yêu thích</b></h3>
                <!-- <p>Phản hồi của khách hàng sau khi đi tour TLU</p> -->
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4  d-none d-lg-flex" style="position: relative;">
                <div *ngFor="let tour of tours">
                    <div style="padding-right: 8px;" class="col wow fadeInLeft">
                        <div class="card h-100" id="card">
                            <a routerLink="/detail-page/{{tour.idTour}}">
                                <img [src]="tour.image" id="img" class="card-img-top img-fluid" />
                            </a>
                            <div class="card-body" id="card-body" style="padding-left: 12px; margin-bottom: 20px;">
                                <h6 class="card-title no-hover">{{ tour.titleTour }}</h6>
                                <p class="card-text">Đánh giá: {{ tour.avgRating }} ⭐</p>
                                <p class="card-text">
                                    Số lượt đánh giá: {{ tour.ratingCount }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
             <!-- Pagination Controls -->
             <div class="pagination-controls">
                <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
                <span>Trang {{ currentPage + 1 }} / {{ totalPages }}</span>
                <button (click)="goToPage(currentPage + 1)"
                    [disabled]="currentPage === totalPages - 1">Next</button>
            </div>
        </div>
    </div>
</div>
<!-- End -->